# Игрорируем файлы Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Игрорируем виртуальное окружение
venv/
env/
.venv/
.env/

# Игрорируем файлы базы данных
*.sqlite3
*.db

# Игрорируем конфигурационные файлы
*.env
*.json

# Игрорируем папку с миграциями Alembic
alembic/
migrations/

# Игрорируем логи
*.log

# Игрорируем скомпилированные файлы
*.pyc
*.pyo

# Игрорируем кешированные файлы
*.swp
*.swo
*.bak
*.tmp

# Игрорируем файлы IDE
.vscode/
.idea/

# Игрорируем файлы тестов
*.coverage
*.hypothesis/

# Игрорируем зависимости, если они установлены в директории
node_modules/

# Игрорируем директории и файлы тестирования
test/
